body {
  margin: 0;
  font-family: 'SBAB';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SBAB';
  font-weight: 400;
  src: url('./fonts/SBAB-Regular.woff');
  font-display: fallback;
}

@font-face {
  font-family: "SBAB-Display";
  font-weight: 500;
  src: url('./fonts/SBAB-Display.woff');
  font-display: fallback;
}
